body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow',;
    background-color: #FFF;
}
    
#WHTIDO{
    background-color: #FFF;
}

p{
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 8px;
}
.nextSteps{
    font-size: 1rem;
}

h5{
    font-size: 1.2rem;
}

h6{
    font-size: 1rem;
}

li{
    font-size: 1rem;
    font-weight: 200;
}



.primary1{
    position: relative;
    margin-top: 9rem;
    margin-bottom: 3rem;
    color: #FFF;
    background-size: auto;
    background-color: #000;
    display: inline-block;
    font-size: 1.8rem;
    padding: 1.2% 2%;
    border-radius: .18rem;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.06);
}
.primary2{
    position: relative;
    margin-top: 9rem;
    margin-bottom: 3rem;
    color: #141414;
    display: inline-block;
    font-size: .75rem;
    padding: 1.2% 2%;
    border-radius: .18rem; 
}
.navbar{
    box-shadow: 0 4px 6px 0 rgb(12 0 46 / 6%);
}

a{
    text-decoration: none;
}
.navbar-brand{
    color: #111;
    font-weight: 400;
}
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.55);
    border-color: rgba(0,0,0,0);
}
.navbar-nav{
    margin-left: 75%;
    padding-left: 5%;
    text-align: center;
}



.navbar-expand-xl .navbar-nav .nav-link {
    padding-right: 2rem;
    padding-left: 0.5rem;
    font-weight: 100;
    color: #000;
}

.heroimage{    
    background-image: url(images/index/heroImage1.jpg);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    height: 81vh;
    
}

.herotext{
    position: relative;
    top: 9rem;
    color: #141414;
    font-size: 3.5rem;
    font-weight: 100;
}
.herop {
    position: relative;
    top: 9rem;
    color: #141414;
    font-size: 1.2rem;
    font-weight: 180;
    max-width: 30%;
}

.downarrow {
    position: relative;
    top: 54vh;
    left: 0;
}

.container-fluid{
    padding-left: 5%;
    padding-right: 5%;
    
}

.sectionHead{
    font-size: 1rem;
    font-weight: 0.72rem;
    font-family: sans-serif;
    padding-top: 2rem;
    margin-bottom: .9rem;
    padding-bottom: .2rem;
    padding-right:40%;
    
}


/* WHHAT I DO ? */

.WIDO{
    height: auto;
  
}

.IDO{

    font-size: 5.4rem;
    margin-bottom: 4rem;
    color: #808080;
    font-weight: 100;
    
}

.IDO2{

    font-size: 5.4rem;
    margin-bottom: 4rem;
    color: #000;
    font-style: italic;
    font-weight: 800;
    
}

.contact-btn{
    padding-bottom: 1rem;

}

.cont-btn {
    font-size: 1rem;
    font-weight: 200;
    position: relative;
    /* float: right; */
    padding: 1rem;
    padding-right: 10rem;
    background-color: #000;
    border: 0;
    border-radius: 0;
}



/* PROCESS */

/* #process{
    padding-top: 5%;
    padding-bottom: 5%;
    
} */

.process_icon{
    color: #111;
    margin-bottom: 0.5rem;
}

.processHead{
    color: #111;
}

.processPara{
    color: #111;
    margin-bottom: 2rem;
    line-height: 1.7rem;
}

.whiteSectionHead{
    color: #fff ;
}

/* WORK */


.workLogo{
    position: relative;
    top: 20%;
    z-index: 0;

}




.workName {
    color: #fff;
    font-weight: 400;
    padding-left: 1.8rem;
    position: relative;
    bottom: -33.5rem;
}
.workPara {
    color: #fff;
    padding-left: 1.8rem;
    position: relative;
    bottom: -33rem;
    font-weight: 100;
}

.CSbtnPU{
    position: relative;
    top: 72%; 
    float: right;
    margin-right: 5%; 
    margin-top: .9rem;
    border-width: .18rem;
    font-size: 1.26rem;
    padding: .5rem;
}

.CSbtnEC{
    position: relative;
    top: 72%; 
    float: right;
    margin-right: 5%; 
    margin-top: .9rem;
    border-width: .18rem;
    font-size: 1.26rem;
    padding: .5rem;
}

.CSbtnEP{
    position: relative;
    top: 72%; 
    float: right;
    margin-right: 5%; 
    margin-top: .9rem;
    border-width: .18rem;
    font-size: 1.26rem;
    padding: .5rem;
}

.Every{
    color: #6B90E5;
}
.Pets{
    color: #F88AB0;
}

.postup{
    background-image: url(images/Postup/PU-Logo@.75x.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #F0F0F3;
    background-color: #06CD6D;
    height: 72vh;

}

.Easycourt{
    background-image: url(images/Easycourt/EC\ Logo\ 1.5x.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #F0F0F3;
    height: 72vh;
    background-color: #111;
   
}
.Sociopass{
    background-color: #4C75A3;
    height: 72vh;

}

.EverythingPets{
    background-image: url(images/Everthingpets/EPlogo@2x.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #F0F0F3;
    height: 72vh;
}

.wrow{
    margin-top: 1.5rem;
}

.PU-thanks{
    color: #fff;
    display: inline-block;
    text-align: center;
    background-color: #06CD6D;
    padding: .5rem;
    font-weight: 800;
}

/* SIDEPROJECTS */

.carousel-inner{
    height: 90vh;
}
.carousel-item{
    height: 100%;
}

.img1{
     background-image: url(images/Sideprojects/INV-Desk.png);
     height: 100%;
     width: 100%;
     background-repeat: no-repeat;
     /* background-attachment: fixed !important; */
     background-size: cover !important;   
     background-position: center !important;
}

.img2{
    background-image: url(images/Sideprojects/DEX-Desk.png);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    /* background-attachment: fixed !important; */
    background-size: cover !important;   
    background-position: center !important;
}

.img3{
    background-image: url(images/Sideprojects/GSJ-Desk.png);
     height: 100%;
     width: 100%;
     background-repeat: no-repeat;
     /* background-attachment: fixed !important; */
     background-size: cover !important;   
     background-position: center !important;

}

.carousel-caption{
    margin-left: 9%;
    position: absolute;
    text-align: left;
    left: 3%;
    padding-bottom: 1.08%;  
}

.SPhead{
    font-size: 1.53rem;
    font-weight: 400;
    margin-bottom: 0;

}

.SPpara{
    font-size: 0.9rem;
    font-weight: 200;
}

/* CONTACT */
.email{
  text-align: center;
  font-size: 4.5rem;
  font-weight: 400; 
  margin-top: 9rem;
  margin-bottom: 1rem !important;
}

.contactContent{
text-align: center;
padding-bottom: 3.5rem;
font-weight: 100;

}

.contactContent2 {
    text-align: center;
    padding-bottom: 3.5rem;
    font-weight: 100;
    
}

#connect{
    padding-top: .1rem;
    padding-bottom: 1rem;
    background-color: #111;
}

.SML{
    margin-top: .5rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

footer{
    font-size: .5rem;
    text-align: center;
    padding-bottom: .5rem;
}


/* -----PROJECT PAGE - POSTUP----- */

.Hero{
    padding: 0;
    padding-top: 3rem;
}
.phase{
    font-size: 2.07rem;
    font-weight: 200;
    margin-bottom: 1.8rem;
    margin-top: 1.8rem;
}



.headerPU{
    padding-left: 5%;
    padding-right: 5%;
    background-color: #06CD6D;
 
    
}

.projectHeading{
    position: relative;
    top: 50%;
    font-weight: 800;
    color: white;
}


.EPL{
    position: relative;
    top: 12rem;  
}

.projectHeadingPU{
    position: relative;
    top: 30.6%;
    font-weight: 800;
    color: white;
}


.projectHeadingParaPU{
    position: relative;
    top: 30.6%;
    color: white;
    margin-bottom: 5rem;
    padding-bottom: 5rem;
}

.projectHeadingPara{
    position: relative;
    top: 50%;
    color: white;
    margin-bottom: 5rem;
    padding-bottom: 5rem;
}

.brief{
    margin-top: 2rem;
}

.heading{
    font-weight: 600;
    color: #111;
    margin-top: 1rem;
}

.heading2{
    font-size: .9rem;
}

.PU-heading2{
    font-size: 1rem;
    color: #fff;
    display: inline-block;
    text-align: center;
    background-color: #06CD6D;
    padding: .5rem;
    font-weight: 800;
    margin-top: 3rem;
}

figcaption{
    margin-top: 1rem;
    text-align: center;
    margin-bottom: 2rem;
}

.projectPara{
    padding-right: 25%;
    padding-left: 25%;
}

#nextSteps{
    margin-bottom: 2rem;
}




/* PROJECT-EASY COURTS */


.headerEC{
    background-color: #111; 
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5rem;
}

.EC-heading2{
    font-size: 1.8rem;
    color: #fff;
    display: inline-block;
    text-align: center;
    background-color: #111;
    padding: .5rem;
    font-weight: 800;
    margin-top: 3rem;
}
.ECL{
    position: relative;
    top: 25%;  
}
.ECprojectHeading{
    position: relative;
    top: 30%;
    font-weight: 800;
    color: #fff;
}
.ECprojectHeadingPara{
    position: relative;
    top: 30%;
    color: #fff;
    padding-bottom: 5rem;
}

.HMW{
    float: right;
}

.headerMockup{
    transform: scale(.7);
}

.thankYou{
    text-align: center;
    margin-bottom: 2rem;
}
.EC-thanks{
    color: #fff;
    display: inline-block;
    text-align: center;
    background-color: #111;
    padding: .5rem;
    font-weight: 800;
}

.iteration{
    height: 60vh;
    padding: 1.5rem;
}




/* PROJECT - EVERYTHING PETS */

.EPprojectHeading{
    position: relative;
    top: 30%;
    font-weight: 800;
    color: #6B90E5;    
}
.EPprojectHeading2{
    color: #F88AB0;
}
.EPprojectHeadingPara{
    position: relative;
    top: 30%;
    color: #111;
}

.headerEP{
    background-color: #F0F0F3;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1rem;
}

.EP-heading2 {
    font-size: 1rem;
    color: #fff;
    display: inline-block;
    text-align: center;
    background-color: #6B90E5;
    padding: 0.5rem;
    font-weight: 800;
    margin-top: 3rem;
}

.projectImage{
    margin-top: 2rem;
}
.protoMockUp{
    height: auto;
    max-height: 80vh;
}

.EP-thanks{
    margin-top: 2.7rem;
    font-size: 1.8rem;
    color: #fff;
    display: inline-block;
    text-align: center;
    background-color: #6B90E5;
    padding: .9rem;
    font-weight: 800;
}

/* MEDIA QUERIES  2560*/

@media (max-width : 2560px){

/* .container-fluid {
    padding-left: 10%;
    padding-right: 10%;

} */

.imgVerticalCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;

}


    /* BANKING PROJ */
    

    
.Heading{
    background-image: url(images/Banking/titleImage.png);
    background-size: cover;
    background-position: center;
    height: 72vh;

}

.projHeaderOrg {
    font-size: 1.5rem;
    position: absolute;
    top: 0rem;
    color: #F0F0F3;
    font-weight: 200;
    margin-top: 0.5rem;
    margin-left: 1rem;
    width: auto;
}


.projTitle{
    position: absolute;
    top: 1rem;
    color: #F0F0F3;
    font-weight: 200;
    margin: 1rem;
    width: auto;
    filter: drop-shadow(.5px .5px #0c0c0c);

    
}

.projTitle2 {
    position: absolute;
    top: 52vh;
    color: #F0F0F3;
    font-weight: 200;
    margin: 1rem;
    font-size: 1.8rem;
    font-weight: 400;
    width: auto;
    filter: drop-shadow(1px 1px #0c0c0c);


}

.headerSub {
    position: absolute;
    top: 56.5vh;
    color: #F0F0F3;
    font-weight: 200;
    margin: 1rem;
    font-size: 1rem;
    font-weight: 400;
    max-width: 70%;
    filter: drop-shadow(1px 1px #0c0c0c);


}

.metaTagsGroup {
    position: relative;
    top: 66vh;
    height: fit-content;
    width: auto;

}

.metaTags{
    display: inline-block;
    font-size: .7rem;
    background-color: #FFF;
    position: relative;
    border-radius: 1rem;
    padding: .4rem;
    margin-left: 1rem;
}

.projSubHead{
    font-size: 1rem;
    position: relative;
    bottom: 2rem;
    
}

.projHeaderDiscription {
    display: inline-flex;
    font-size: .9rem;
    font-weight: 200;
    max-width: 49.5%;
    position: relative;
    bottom: 2.5rem;
    padding-right: 8px;
}

.projHeaderDiscriptionKR{
    display: inline-flex;
    font-size: .9rem;
    font-weight: 200;
    max-width: 100%;
    position: relative;
    bottom: 2.5rem;
    padding-right: 8px;
}

.sectionHead{
    font-size: .9rem;
    position: relative;
    bottom: 0rem;

}

.teamMem{
    display: inline-block;
    padding-right: .5rem;
    text-align: center;
    margin-top: .5rem;
}

.projSectioHead {
    font-size: 1rem;
    font-weight: 100;
    margin-bottom: 1rem;
    margin-top: 2.7rem;

}

.bankingCaption{
    color: #fff;
    font-size: 1rem;
    font-style: italic;
    font-weight: 100;
}

.EDT{
    margin-top: 1rem;
}

.Testimonials {
    font-size: 2rem;
    font-style: italic;
    font-weight: 100;
    line-height: 1.8;

}

.Overview{
    position: relative;
    top: 3rem;
}

.bankingImg{
    background-color: #FF0000;
    
}

/* -----BANKING PROJE-------END--- */
    
    .heroimage {
    background-image: url(images/index/heroImage1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 99vh;
    }

    .postup {
        background-image: url(images/Postup/PU-Logo@.75x.png);
        background-position: center;
        background-repeat: no-repeat;
        background-color: #F0F0F3;
        background-color: #06CD6D;
        height: 63vh;
        margin-bottom: 2rem;
    }

    .Easycourt {
        background-image: url(images/Easycourt/EC\ Logo\ 1.5x.png);
        background-position: center;
        background-repeat: no-repeat;
        background-color: #F0F0F3;
        height: 63vh;
        background-color: #111;
        margin-bottom: 2rem;
    }

    .EverythingPets {
        background-image: url(images/Everthingpets/EPlogo@2x.png);
        background-position: center;
        background-repeat: no-repeat;
        background-color: #F0F0F3;
        height: 63vh;
        margin-bottom: 2rem;
    }

    .workName {
        color: #fff;
        font-weight: 400;
        font-size: 1.8rem;
        padding-left: 1rem;
        position: relative;
        top: 23.5rem;
    }
    .workPara {
        color: #fff;
        padding-left: 1rem;
        position: relative;
        top: 23rem;
        font-weight: 100;
        font-size: 1.2rem;
    }

    .sideproject{
        padding-left: 4.5%;
        padding-right: 4.5%;
    }   

    .carousel-caption {
        margin-left: 12rem;
        position: absolute;
        text-align: left;
        left: 0;
        bottom: 9rem;
    }
}

/* MEDIA QUERIES  1440*/

@media (max-width : 1440px){
   
    .container-fluid {
        padding-left: 5%;
        padding-right: 5%;
    
    }

    .postup {
        background-image: url(images/Postup/PU-Logo@.75x.png);
        background-position: center;
        background-repeat: no-repeat;
        background-color: #F0F0F3;
        background-color: #06CD6D;
        height: 72vh;
        margin-bottom: 2rem;
    }

    .Easycourt {
        background-image: url(images/Easycourt/EC\ Logo\ 1.5x.png);
        background-position: center;
        background-repeat: no-repeat;
        background-color: #F0F0F3;
        height: 72vh;
        background-color: #111;
        margin-bottom: 2rem;
    }

    .EverythingPets {
        background-image: url(images/Everthingpets/EPlogo@2x.png);
        background-position: center;
        background-repeat: no-repeat;
        background-color: #F0F0F3;
        height: 72vh;
        margin-bottom: 2rem;
    }

    .workName {
        color: #fff;
        font-weight: 400;
        font-size: 1.8rem;
        padding-left: 1.8rem;
        position: relative;
        top: 28rem;
    }
    .workPara {
        color: #fff;
        padding-left: 1.8rem;
        position: relative;
        top: 27.5rem;
        font-weight: 100;
        font-size: 1.4rem;
    }

}

/* MEDIA QUERIES 1050px*/

@media (max-width : 1050px) {

    /* WHAT I DO */

    .heroimage {
        background-image: url(images/index/heroImage1.jpg);
        background-size: cover;
        background-position: center;
        height: 81vh;
    
    }



    .IDO{

    font-size: 4.5rem;
    margin-bottom: 6.3rem;
    color: #808080;
    font-weight: 100;
    
    }   

    .IDO2{

    font-size: 4.5rem;
    margin-bottom: 6.3rem;
    color: #D2B48C;
    font-style: italic;
    font-weight: 800;
    
    }


    p{
        font-size: 1rem;
    }
  
    .workLogo{
        position: relative;
        top: 30%;
        z-index: 0;

    }


    .workName {
        position: relative;
        padding-left: 1rem;
        top: 54vh;
        font-weight: 400;
        color: white;
    }
    

    .workPara {
        color: white;
        position: relative;
        padding-left: 1rem;
        top: 53.5vh;
        font-weight: 100;
        font-size: 1rem;
    }

    .workParaEC{
        color: #fff;
        padding-left: 1.8rem;
        position: relative;
        top: 60%;
    }

    .workpad{
        margin: 0;
        
    }

    .herotext{
    position: relative;
    top: 9rem;
    color: #141414;
    font-size: 2.5rem;
    font-weight: 200;
    }

    .herop {
        position: relative;
        top: 9rem;
        color: #141414;
        font-size: 1rem;
        font-weight: 180;
        max-width: 45%;
    }

    .downarrow{
    position: absolute;
    top: 72vh;
    left: 5%;
   
    }

    .navbar-nav{
    padding-top: 5rem;
    text-align: center;
    margin: 0;
    padding-bottom: 5rem;
    padding-left: 0;
    }
    
    .nav-item{
    padding-bottom: 1.8rem;
    }

    .works{
        margin: 0;
        padding: 0;
    }
    .postup{
        height: 60vh;
        
    }
    .Easycourt{
        height: 60vh;
    }
    .Sociopass{
        height: 60vh;
    }
    .EverythingPets{
        height: 60vh;
    }

    .CSbtnPU{
        position: relative;
        top: 72%; 
        float: right;
        margin-right: 5%; 
        margin-top: .9rem;
        border-width: .1rem;
        font-size: 1.26rem;
        padding: .5rem;
    }

    .CSbtnEC{
        position: relative;
        top: 72%; 
        float: right;
        margin-right: 5%; 
        margin-top: .9rem;
        border-width: .18rem;
        font-size: 1.26rem;
        padding: .5rem;
    }

    .CSbtnEP{
        position: relative;
        top: 72%; 
        float: right;
        margin-right: 5%; 
        margin-top: .9rem;
        border-width: .18rem;
        font-size: 1.26rem;
        padding: .5rem;
        
    }

    .row{
        --bs-gutter-x: 0;
    }
    .wrow{
        margin-top: 0;
        padding: 0!important;
    }


    .sideproject{
        padding-left: 4.5%;
        padding-right: 4.5%;
    }   


    .email{
        text-align: center;
        font-size: 2.7rem;
        font-weight: 800; 
        margin-bottom: 3%;
      }

    .SML{
        transform: scale(.7);
        margin-right: .3rem;
     
    }

    .carousel-caption {
        font-size: 1.8rem;
        font-weight: 400;
        margin-left: 0;
        position: absolute;
        text-align: left;
        left: 5%;
        padding-bottom: 0.9rem;
        top: auto;
    }

    .img1{
        background-image: url(images/Sideprojects/INV-Desk.png);
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        /* background-attachment: fixed !important; */
        background-size: cover !important;   
        background-position: center !important;
        scale: 1.1;
   }

    .img2{
        background-image: url(images/Sideprojects/DEX-Desk.png);
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        /* background-attachment: fixed !important; */
        background-size: cover !important;   
        background-position: center !important;
        /* scale: 1.1; */
   }

   .img3{
        background-image: url(images/Sideprojects/GSJ-Desk.png);
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        /* background-attachment: fixed !important; */
        background-size: cover !important;   
        background-position: center !important;
        scale: 1.1;
    }


    /* BANKING PROJ */


    .Heading {
        background-image: url(images/Banking/Title-Tab.png);
        background-size: cover;
        background-position: center;
        height: 72vh;
    }
    .projTitle2 {
        position: absolute;
        top: 57vh;
        color: #F0F0F3;
        font-weight: 200;
        margin: 1rem;
        font-size: 1.8rem;
        font-weight: 400;
        width: auto;
        filter: drop-shadow(1px 1px #0c0c0c);
    }

    .headerSub {
        position: absolute;
        top: 59.5vh;
        color: #F0F0F3;
        font-weight: 200;
        margin: 1rem;
        font-size: 1rem;
        font-weight: 400;
        max-width: 70%;
        filter: drop-shadow(1px 1px #0c0c0c);
    }

    .metaTagsGroup {
        position: relative;
        top: 65vh;
        height: fit-content;
        width: auto;
    }


    /* PROJECT-EASY COURT */

    ECL {
        position: relative;
        top: 10rem;
    }

}       

/* MEDIA QUERIES 1050px*/







@media (max-width : 900px){


    /* HOMEPAGE media@ 900 */

    .heroimage {
        background-image: url(images/index/heroImage1.jpg);
        background-size: cover;
        background-position: center;
        height: 90vh;

    }

    .downarrow {
        position: relative;
        top: 63vh;
        left: 0;
    }

    .postup{
        height: 80vh;
        
        
    }
    .Easycourt{
        height: 80vh;
    }
    .Sociopass{
        height: 70vh;
    }
    .EverythingPets{
        height: 80vh;
    }

    .workName {
        position: relative;
        padding-left: 1rem;
        top: 46rem;
        font-weight: 400;
        color: white;
    }
    

    .workPara {
        color: white;
        position: relative;
        padding-left: 1rem;
        top: 45.5rem;
        font-weight: 100;
        font-size: 1rem;
    }

    /* SIDEPROJ - CAROUSEL */

    .img1{
        background-image: url(images/Sideprojects/INV-Tab.png);
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        /* background-attachment: fixed !important; */
        background-size: cover !important;   
        background-position: center !important;
   }
   
   .img2{
       background-image: url(images/Sideprojects/DEX-Tab.png);
       height: 100%;
       width: 100%;
       background-repeat: no-repeat;
       /* background-attachment: fixed !important; */
       background-size: cover !important;   
       background-position: center !important;
   }
   
   .img3{
        background-image: url(images/Sideprojects/GSJ-Tab.png);
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        /* background-attachment: fixed !important; */
        background-size: cover !important;   
        background-position: center !important;
   
   }

   .SPpara {
        font-size: 0.9rem;
        font-weight: 200;
        padding-bottom: 4rem;

    }



        /* BANKING PROJ @ MEDIA 900 MAS START */
    
.Heading{
    background-image: url(images/Banking/Title-Tab.png);
    background-size: cover;
    background-position: right;
    height: 72vh;

}

.projHeaderOrg {
    font-size: 1.5rem;
    position: absolute;
    top: 0rem;
    color: #F0F0F3;
    font-weight: 200;
    margin-top: 0.5rem;
    margin-left: 1rem;
    width: auto;
}


.projTitle{
    position: absolute;
    top: 1rem;
    color: #F0F0F3;
    font-weight: 200;
    margin: 1rem;
    width: auto;
    filter: drop-shadow(.5px .5px #0c0c0c);

    
}

.projTitle2 {
    position: absolute;
    top: 53vh;
    color: #F0F0F3;
    font-weight: 200;
    margin: 1rem;
    font-size: 1.35rem;
    font-weight: 400;
    width: auto;
    filter: drop-shadow(1px 1px #0c0c0c);


}

.headerSub {
    position: absolute;
    top: 55.5vh;
    color: #F0F0F3;
    font-weight: 200;
    margin: 1rem;
    font-size: 1rem;
    font-weight: 400;
    max-width: 70%;
    filter: drop-shadow(1px 1px #0c0c0c);


}

.metaTagsGroup {
    position: relative;
    top: 64vh;
    height: fit-content;
    width: auto;

}

.metaTags{
    display: inline-block;
    font-size: .7rem;
    background-color: #FFF;
    position: relative;
    border-radius: 1rem;
    padding: .4rem;
    margin-left: 1rem;
}

.projSubHead{
    font-size: 1rem;
    position: relative;
    bottom: 2rem;
    
}

.projHeaderDiscription {
    display: inline-flex;
    font-size: .9rem;
    font-weight: 200;
    max-width: 49.5%;
    position: relative;
    bottom: 2.5rem;
    padding-right: 8px;
}

.projHeaderDiscriptionKR{
    display: inline-flex;
    font-size: .9rem;
    font-weight: 200;
    max-width: 100%;
    position: relative;
    bottom: 2.5rem;
    padding-right: 8px;
}

.sectionHead{
    font-size: .9rem;
    position: relative;
    bottom: 0rem;

}

.teamMem{
    display: inline-block;
    padding-right: .5rem;
    text-align: center;
    margin-top: .5rem;
}

.projSectioHead {
    font-size: 1rem;
    font-weight: 100;
    margin-bottom: 1rem;
    margin-top: 2.7rem;

}

.EDT{
    margin-top: 1rem;
}

.Testimonials {
    font-size: 2rem;
    font-style: italic;
    font-weight: 100;
    line-height: 1.8;

}

.Overview{
    position: relative;
    top: 3rem;
}

.bankingImg{
    background-color: #FF0000;
    margin-bottom: 1rem;
}

/* -----BANKING PROJE----MEDIA @ 900MAX---END--- */

    /* POSTUP PROJ PAGE @media 768*/

    .headerPU {
        padding-left: 5%;
        padding-right: 5%;
        background-color: #06CD6D;
        height: 14rem;

    }

    .headerPU2 {
        background-color: #06CD6D;
        padding-bottom: 2rem;
        content: url(images/Postup/Hero2.gif);  

    }

    .gif1{
        scale: .95;
    }

    .EPL {
        position: relative;
        top: 0.5rem;
        scale: .5;
        left: -2rem;

    }

    .projectHeadingPU {
        position: relative;
        top: -3rem;
        font-weight: 800;
        color: white;
    }


    .projectHeadingParaPU {
        position: relative;
        top: -3.6rem;
        color: white;
        margin-bottom: 0rem;
        padding-bottom: 1rem;
    
    }

    /* EASY-COURT PROJ PAGE @media 768*/

    .headerEC {
        padding-left: 5%;
        padding-right: 5%;
        background-color: #000;
        height: 14rem;

    }

    /* .headerPU2 {
        background-color: #06CD6D;
        padding-bottom: 2rem;
        
    } */

    .ECL {
        position: relative;
        top: -.5rem;
        scale: .54;
        left: -1rem;

    }

    .ECprojectHeading {
        position: relative;
        top: -2.5rem;
        font-weight: 800;
        color: #fff;
    }

    .ECprojectHeadingPara {
        position: relative;
        top: -3rem;
        color: #fff;
        padding-bottom: 0rem;
    }

    .headerImageEC{
        background-color: #000;

    }

    


    /* HOMEPAGE media@ 900  END */



     /* EVERYTHING PETS PROJ PAGE @media 900*/

     .headerEP {
        position: relative;
        background-color: #F0F0F3;
        padding-bottom: 1rem;
        height: 14rem;
    }

    .headerImage{
        background-color: #F0F0F3;
    }

    .EPL {

        position: relative;
        top: -0.5rem;
        scale: .45;
        left: -2rem;

    }

    .EPprojectHeading {
        position: relative;
        top: -2rem;
        font-weight: 800;
        color: #6B90E5;

    }


    .EPprojectHeadingPara {
        position: relative;
        top: -2.5rem;
        color: #111;

    }

    
}


@media (max-width: 576px){


 

    .heroimage {
        background-image: url(images/index/heroImage-mob.jpg);
        background-size: cover;
        background-position: top;
        height: 90vh;

    }

    .navbar-brand {
        color: #111;
        Font-size: 1.71rem;
        font-weight: 400;
    }
          

    .h4 {
        font-size: 1rem;

    }

    
    .heroimage{
        background-image: url(images/index/heroImage-mob.jpg);
        background-size: cover;
        background-position: bottom;
        height: 90vh;
        
    }

    .herotext {
        position: relative;
        top: 21%;
        color: #141414;
        font-size: 3.6rem;
        font-weight: 100;
    }
    
    .herop {
        position: relative;
        top: 21%;
        color: #141414;
        font-size: 1.26rem;
        max-width: 60%;

    }


    .sectionHead{
        margin-bottom: 9%;
        font-size :1 rem;
        font-weight: 100 !important;
        
    }

    .carousel-inner{
    height: 90vh;
    
    }

    .carousel-caption{
        margin-left: 6.3%;
        position: absolute;
        text-align: left;
        left: 3%;
         
    }

    .img1{
        background-image: url(images/Sideprojects/INV-Mob.png);
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        /* background-attachment: fixed !important; */
        background-size: cover !important;   
        background-position: center !important;
        scale: 1;
    
    }

    .img2{
        background-image: url(images/Sideprojects/DEX-MOb.png);
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        /* background-attachment: fixed !important; */
        background-size: cover !important;   
        background-position: center !important;
        scale: 1;
   
    }

   .img3{
        background-image: url(images/Sideprojects/GSJ-Mob.png);
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        /* background-attachment: fixed !important; */
        background-size: cover !important;   
        background-position: center !important;
        scale: 1;

    }

    p{
        font-size: 1rem;
    }

    .WIDO{
        height: auto;
    }


    .IDO{

    font-size: 2.7rem;
    color: #808080;
    font-weight: 100;
    margin-bottom: 3.36rem;
    
    }

    .IDO2{

    font-size: 2.7rem;
    color: #D2B48C;
    font-style: italic;
    font-weight: 800;
    
    }


    .ECL {
        position: relative;
        /* top: 1rem; */
        scale: .45;
        padding: left 1.8em;
    }


    /* WORK Media 576 */

    .postup{
        height: 81vh;
        margin-bottom: 2rem;
        
    }
    .Easycourt{
        height: 81vh;
        margin-bottom: 2rem;
    }
    .Sociopass{
        height: 81vh;
        margin-bottom: 2rem;
    }
    .EverythingPets{
        height: 81vh;
        margin-bottom: 1rem;
    }

    .workName {
        position: relative;
        padding-left: 1rem;
        top: 69vh;
        font-weight: 400;
        color: white;
    }

    .workPara {
        color: white;
        position: relative;
        padding-left: 1rem;
        padding-right: 5%;
        padding-bottom: 1rem;
        margin-bottom: 0;
        top: 68vh;
        font-weight: 100;
    }

    .CSbtnPU{
        position: relative;
        top: 47.7%; 
        float: right;
        margin-right: 5%; 
        margin-top: .9rem;
        border-width: .1rem;
        font-size: .63rem;
        font-weight: 450;
        padding: .5rem;
    }

    .CSbtnEC{
        position: relative;
        top: 47.7%; 
        float: right;
        margin-right: 5%; 
        margin-top: .09rem;
        border-width: .1rem;
        font-size: .63rem;
        font-weight: 450;
        padding: .5rem;
    }

    .CSbtnEP{
        position: relative;
        top: 54%; 
        float: right;
        margin-right: 3%; 
        margin-top: .9rem;
        border-width: .09rem;
        font-size: .63rem;
        font-weight: 450;
        padding: .5rem;
    }

    .projectPara{
        padding-right:0;
        padding-left:0;
    }
    
    .downarrow {
        float: left;
        position: relative;
        top: 30vh;
        margin-right: 5%;
        width: 1rem;
    }

    .headerPU {
        text-align: left;
        background-color: #06CD6D;
        padding-bottom: 14rem;
        /* padding-left: 5%; */
        /* padding-right: 5%; */
    }

    .headerPU2 {
        background-color: #06CD6D;
        padding-bottom: 2rem;
        content: url(images/Postup/Hero2.gif);  

    }

    .projectHeadingPU {
    top: -3rem;
    padding: 0;
    
    }

    .projectHeadingParaPU {
        top: -3.8rem;
        padding: 0;
    }

    .headerEC {
        background-color: #141414;
        padding-bottom: 5rem;
        padding-left: 5%;
        padding-right: 5%;

    }

    .ECprojectHeading {
        position: relative;
        top: -3rem;
        font-weight: 800;
        color: #fff;
    }

    .ECprojectHeadingPara {
        position: relative;
        top: -3.6rem;
        color: #fff;
        padding-bottom: 0;
    }

    .headerImageEC{
        background-color: #141414;
    }


    .SPhead{
        position: relative;
        font-size: 1.17rem;
        font-weight: 400;
        margin-bottom: 0;
    
    }
    
    .SPpara{
        font-size: 0.9rem;
        font-weight: 200;
        padding-bottom: 2rem;
    }



    /* CONTACT media max 576 */

    .email{
        font-size: 1.26rem;
        margin-bottom: 1rem;
        
    }

    /* WHAT I DO Media 576 */

    

    .contactContent{
    text-align: center;
    padding-bottom: 3.5rem;

    }

    .contactContent2 {
        text-align: center;
        padding-bottom: 3.5rem;
        font-weight: 100;

    }



      /* BANKING PROJ @ MEDIA 576 MAX START */

      .Heading {
        background-image: url(images/Banking/Title-Mob.png);
        background-size: cover;
        background-position: center;
        height: 72vh;
    }

      .projHeaderOrg {
        font-size: 1.2rem;
        position: absolute;
        top: 0rem;
        color: #F0F0F3;
        font-weight: 200;
        margin-top: 0.5rem;
        margin-left: 1rem;
        width: auto;
    }

    .projTitle {
        position: absolute;
        top: 1rem;
        color: #F0F0F3;
        font-size: 1.2rem;
        font-weight: 200;
        margin: 1rem;
        width: auto;
        filter: drop-shadow(0.5px 0.5px #0c0c0c);
    }

    .projTitle2 {
        position: absolute;
        top: 54vh;
        color: #F0F0F3;
        font-weight: 400;
        margin: 1rem;
        font-size: 1rem;
        width: auto;
        filter: drop-shadow(1px 1px #0c0c0c);
    }

    .headerSub {
        position: absolute;
        top: 57.5vh;
        color: #F0F0F3;
        font-weight: 200;
        margin: 1rem;
        font-size: .7rem;
        font-weight: 400;
        max-width: 80%;
        filter: drop-shadow(1px 1px #0c0c0c);
    }

    .projHeaderDiscription {
        display: inline-flex;
        font-size: .9rem;
        font-weight: 200;
        max-width: 100%;
        position: relative;
        bottom: 2.5rem;
        padding-right: 8px;
    }

    .metaTagsGroup {
        position: relative;
        top: 64vh;
        height: fit-content;
        width: auto;
        display: none;
    }

    .bankingSectionHead{
        font-size: .8rem;
    }

    .imgMember{
        scale: .81;
    }

    .Testimonials {
        font-family: 'calibri';
        font-size: 1rem;
        font-style: italic;
        font-weight: 100;
        line-height: 1.8;
    }
    
}



/* PROJECT PAGES */

@media (max-width: 992px){
    .navbar-exand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }
}

